body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    height: 100px;
    width: auto;
    font-size: 40px;
    background-color: blanchedalmond;
    margin: 50px;
}

.list{
    font-size: 32px;
    font-weight: bold;
    background-color: blanchedalmond;
    margin: 50px;
}
