body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    height: 100px;
    width: auto;
    font-size: 40px;
    background-color: blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list{
    font-size: 32px;
    font-weight: bold;
    background-color: blanchedalmond;
    margin: 50px;
}

h1, h3, h5, p {
    text-align: center;
}


img, ul, ol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}